### test

In [2]:
# importaremos las librerias necesarias
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql import Row
from pyspark.sql import functions as F
from pyspark.ml import Pipeline
from pyspark import SparkConf
import os
import shutil
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import col,row_number,regexp_replace, lit,to_timestamp,to_date, first, substring, length, col, expr, concat
from pyspark.sql import Window as W
import geopandas as gpd
from shapely import wkt

In [4]:
spark = SparkSession.builder.master("local[*]").config('spark.driver.extraClassPath', 
 'oracleJDBC/ojdbc8.jar:mssql-jdbc-10.2.1.jre8.jar').getOrCreate()

In [ ]:
NombreDepartamentoGeograf√≠a

select top(10) cn.LlavePuntoConsumo, g.CodigoDepartamentoGeografia, g.NombreDepartamentoGeografia 
    from hecho.ConsumoNormalizado cn 
    inner join hecho.Llaves l on cn.LlavePuntoConsumo = l.llavePuntoConsumo 
    inner join Dimension.Geografia g on l.llaveGeografia = g.LlaveGeografia
    
    
    /****** Script for SelectTopNRows command from SSMS  ******/
select top(10) cn.LlavePuntoConsumo, g.CodigoDepartamentoGeografia, g.NombreDepartamentoGeografia 
    from  [DWSRBI_KRONOS].[Hecho].[ConsumoNormalizado] cn 
    inner join DWSRBI_KRONOS.hecho.Llaves l on cn.LlavePuntoConsumo = l.llavePuntoConsumo 
    inner join DWSRBI_KRONOS.Dimension.Geografia g on l.llaveGeografia = g.LlaveGeografia
	 inner join DWSRBI_KRONOS.Dimension.ActividadEconomica ae on l.LlaveActividadEconomica = ae.LlaveActividadEconomica

In [6]:
table = ('[DWSRBI_KRONOS].[Hecho].[Llaves]','[DWSRBI_KRONOS].[Hecho].[ConsumoNormalizado]',' DWSRBI_KRONOS.Dimension.Geografia', \
        'DWSRBI_KRONOS.Dimension.ActividadEconomica','[DWSRBI_KRONOS].[Dimension].[PuntoConsumo]',' [DWSRBI_KRONOS].[Dimension].[Zona]')

In [ ]:
table[0]

In [8]:
#DatosKronos
driver_mssql = ''
url = ''
server = '' 
database = '' 
username = '' 
password = '' 
#table = ''

In [8]:
query3 = """select ll.llavePuntoConsumo,AlturaPuntoConsumo,CodigoOficina, NombreDepartamentoGeografia, CodigoCliente
    from DWSRBI_KRONOS.hecho.Llaves ll 
    inner join DWSRBI_KRONOS.Dimension.Geografia g on ll.llaveGeografia = g.LlaveGeografia
	inner join DWSRBI_KRONOS.Dimension.PuntoConsumo pc on ll.llavePuntoConsumo = pc.LlavePuntoConsumo
	inner join DWSRBI_KRONOS.Dimension.zona z on ll.llaveZona = z.LlaveZona
    inner join DWSRBI_KRONOS.Dimension.cliente cl on  ll.llaveCliente= cl.LlaveCliente"""


query4 = """
  SELECT [LlaveConsumoNormalizado]
      ,[LlaveFecha]
      ,[LlavePuntoConsumo]
      ,[csmo_n]
  FROM [DWSRBI_KRONOS].[Hecho].[ConsumoNormalizado]
"""

In [9]:
#Lectura_dimension_punto_consumo (lr)
result = spark.read \
    .format("jdbc") \
    .option("url", url) \
    .option("query", query4) \
    .option("user", username) \
    .option("password", password) \
    .option("TrustServerCertificate",True) \
    .option("driver", driver_mssql) \
    .load().dropna().filter(col('LlaveFecha')!=0)

#result.show()

In [10]:
#Lectura_dimension_punto_consumo (lr)
data_df = spark.read \
    .format("jdbc") \
    .option("url", url) \
    .option("query", query3) \
    .option("user", username) \
    .option("password", password) \
    .option("TrustServerCertificate",True) \
    .option("driver", driver_mssql) \
    .load().dropna()

data_df.show()

+-----------------+------------------+-------------+---------------------------+-------------+
|llavePuntoConsumo|AlturaPuntoConsumo|CodigoOficina|NombreDepartamentoGeografia|CodigoCliente|
+-----------------+------------------+-------------+---------------------------+-------------+
|          3004659|        421.000000|         1107|                 CHIQUIMULA|      3004659|
|          3069664|        188.000000|         1104|                     ZACAPA|      3069664|
|          6654760|          0.000000|         1602|               BAJA VERAPAZ|      6654760|
|          6213862|          0.000000|         1301|                      PETEN|      6213862|
|          5510676|          0.000000|         1106|                     JALAPA|      5510676|
|          5224273|          0.000000|         1205|                    JUTIAPA|      5224273|
|          6131298|          0.000000|         1301|                      PETEN|      6131298|
|          3140001|       1671.000000|         1601|               ALTA VERAPAZ|      3140001|
|          6132697|          0.000000|         2503|                     QUICHE|      6132697|
|          5570945|        960.000000|         1205|                    JUTIAPA|      5570945|
|          6033277|          0.000000|         1107|                 CHIQUIMULA|      6033277|
|          5334999|        770.000000|         1106|                     JALAPA|      5334999|
|          5854532|       1365.000000|         1203|                 SANTA ROSA|      5854532|
|          2023251|       2581.000000|         2501|              HUEHUETENANGO|      2023251|
|          6182890|          0.000000|         1205|                    JUTIAPA|      6182890|
|          5947530|         41.000000|         1105|                     IZABAL|      5947530|
|          2023599|          0.000000|         2501|              HUEHUETENANGO|      2023599|
|          5262808|          0.000000|         1106|                     JALAPA|      5262808|
|          3285393|        851.000000|         1103|                EL PROGRESO|      3285393|
|          6075522|          0.000000|         1105|                     IZABAL|      6075522|
+-----------------+------------------+-------------+---------------------------+-------------+
only showing top 20 rows

In [ ]:
data_df.filter(col('NombreDepartamentoGeografia')=='SOLOLA').show()

In [ ]:
query = """
  SELECT TOP (15) [LlaveConsumoNormalizado]
      ,[LlaveFecha]
      ,[LlavePuntoConsumo]
      ,[csmo_n]
  FROM [DWSRBI_KRONOS].[Hecho].[ConsumoNormalizado] where LlavePuntoConsumo = 5674686 ORDER BY LlaveFecha 
"""

query2 = """
  SELECT TOP (15) [LlaveConsumoNormalizado]
      ,[LlaveFecha]
      ,[LlavePuntoConsumo]
      ,[csmo_n]
  FROM [DWSRBI_KRONOS].[Hecho].[ConsumoNormalizado] where LlavePuntoConsumo = 1001639 ORDER BY LlaveFecha
"""

In [ ]:
#Lectura_dimension_punto_consumo (lr)
dimension_punto_consumo_df = spark.read \
    .format("jdbc") \
    .option("url", url) \
    .option("dbtable", table[4]) \
    .option("user", username) \
    .option("password", password) \
    .option("TrustServerCertificate",True) \
    .option("driver", driver_mssql) \
    .load()

dimension_punto_consumo_df.show()

In [ ]:
#Lectura_tabla_llaves (lr)
hechos_llaves_df = spark.read \
    .format("jdbc") \
    .option("url", url) \
    .option("dbtable", table[0]) \
    .option("user", username) \
    .option("password", password) \
    .option("TrustServerCertificate",True) \
    .option("driver", driver_mssql) \
    .load()

hechos_llaves_df.show()

In [ ]:
#Lectura_dimension_geografia (lr)
dimension_geografia_df = spark.read \
    .format("jdbc") \
    .option("url", url) \
    .option("dbtable", table[2]) \
    .option("user", username) \
    .option("password", password) \
    .option("TrustServerCertificate",True) \
    .option("driver", driver_mssql) \
    .load()

dimension_geografia_df.show()

In [ ]:


#Lectura consumo normalizado
consumo_norm_df = spark.read \
    .format("jdbc") \
    .option("url", url) \
    .option("query", query) \
    .option("user", username) \
    .option("password", password) \
    .option("TrustServerCertificate",True) \
    .option("driver", driver_mssql) \
    .load()

consumo_norm_df2 = spark.read \
    .format("jdbc") \
    .option("url", url) \
    .option("query", query2) \
    .option("user", username) \
    .option("password", password) \
    .option("TrustServerCertificate",True) \
    .option("driver", driver_mssql) \
    .load()

print(consumo_norm_df.printSchema)

result = consumo_norm_df.union(consumo_norm_df2)#.sort(col('LlaveFecha'),col('LlavePuntoConsumo'))
#consumo_norm_df.show()
result.toPandas().head(30)
result.show()

In [13]:

W = W.partitionBy("LlavePuntoConsumo").orderBy(col('LlavePuntoConsumo'),col('LlaveFecha').desc())


result_w = result.withColumn("row_number",row_number().over(W)).where(col('row_number')<=13)

#result_w = result_w.withColumn("count",F.count(col('LlavePuntoConsumo')).over(W)).where(col('count')==12)

result_w = result_w.withColumn("ano_mes_lectura",expr("substring(LlaveFecha, 1, length(LlaveFecha)-2)"))


result_w.pandas_api().head()

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

   LlaveConsumoNormalizado  LlaveFecha  LlavePuntoConsumo     csmo_n  row_number ano_mes_lectura
0                109313932    20220802            1000062  188.39000           1          202208
1                107122572    20220702            1000062  188.39000           2          202207
2                104931901    20220601            1000062  190.61000           3          202206
3                 99062376    20220502            1000062  178.44000           4          202205
4                 96868859    20220402            1000062  179.46000           5          202204

In [ ]:
W = W.partitionBy("LlavePuntoConsumo").orderBy(col('LlavePuntoConsumo'),col('LlaveFecha').desc())


result_w = result.withColumn("row_number",row_number().over(W)).where(col('row_number')<=13)

#result_w = result_w.withColumn("count",F.count(col('LlavePuntoConsumo')).over(W)).where(col('count')==12)

result_w = result_w.withColumn("ano_mes_lectura",expr("substring(LlaveFecha, 1, length(LlaveFecha)-2)"))

In [ ]:
resultSeries.printSchema()

In [14]:
#filter last 13 months
from pyspark.sql.functions import coalesce, when

resultSeriescache = result_w.groupBy("LlavePuntoConsumo").pivot("ano_mes_lectura").agg(first("csmo_n")).cache()
last12Months=resultSeriescache.columns[-13:]
last12Months.insert(0,'LlavePuntoConsumo')

resultSeries = resultSeriescache.select(last12Months).dropna()#fillna(1,subset=['202206']).dropna()
resultSeries.pandas_api().head()

   LlavePuntoConsumo     202108     202109     202110     202111     202112     202201     202202     202203     202204     202205     202206     202207     202208
0            1000149    0.00000    0.00000    0.00000    0.00000    0.00000    0.00000    0.00000    0.00000    0.00000    0.00000    0.00000    0.00000    0.00000
1            1000190  222.73000  212.92000  226.10000  229.08000  203.48000  200.56000  236.47000  247.53000  232.18000  271.72000  299.10000  256.09000  252.16000
2            1000636  162.88000  171.35000  180.47000  181.55000  148.94000  169.19000  176.61000  179.35000  144.99000  151.07000  184.53000  207.03000  216.84000
3            1001043   85.36000   83.14000   82.13000   85.55000   83.91000   75.09000   68.68000   79.71000   88.31000  125.86000   89.22000   98.85000   86.18000
4            1001139  156.99000  122.68000  150.06000  109.31000  102.79000  120.72000  132.46000  129.01000  158.95000  145.79000  154.11000  171.09000  153.10000

In [ ]:
columns_final_order = result_join_final.columns

In [15]:
result_join_final = resultSeries.join(data_df, resultSeries.LlavePuntoConsumo == data_df.llavePuntoConsumo, 'inner').drop(data_df.llavePuntoConsumo)

result_join_final.show()

+-----------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+------------------+-------------+---------------------------+-------------+
|LlavePuntoConsumo|   202108|   202109|   202110|   202111|   202112|   202201|   202202|   202203|   202204|   202205|   202206|   202207|   202208|AlturaPuntoConsumo|CodigoOficina|NombreDepartamentoGeografia|CodigoCliente|
+-----------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+------------------+-------------+---------------------------+-------------+
|          2000889| 31.43000| 51.71000| 45.13000| 35.32000| 38.81000| 55.13000| 48.08000| 38.81000| 31.40000| 33.56000| 24.33000| 32.32000| 23.76000|       2800.000000|         2501|              HUEHUETENANGO|      2000889|
|          2000976|619.49000|618.47000|621.09000|615.20000|582.11000|592.17000|585.77000|582.99000|551.56000|609.38000|566.76000|589.32000|592.11000|       1670.000000|         2501|              HUEHUETENANGO|      2000976|
|          2001594|199.74000|187.57000|247.26000|196.24000|424.78000|431.54000|210.95000|199.74000|220.01000|217.11000|177.43000|172.99000|170.33000|       1665.000000|         2501|              HUEHUETENANGO|      2001594|
|          2002529| 71.99000| 57.89000| 59.85000| 65.90000| 74.47000| 84.60000| 81.11000| 83.14000| 77.94000| 74.96000| 74.01000| 76.99000| 85.55000|       1538.000000|         2501|              HUEHUETENANGO|      2002529|
|          2002580| 42.58000| 42.19000| 49.06000| 39.54000| 40.91000| 31.37000| 49.68000| 29.40000| 31.37000| 23.90000| 27.38000| 27.57000| 17.24000|       1603.000000|         2501|              HUEHUETENANGO|      2002580|
|          2002610| 55.76000| 86.34000| 63.78000| 60.83000| 79.71000| 80.79000| 94.29000| 93.28000| 79.84000| 76.04000| 81.11000| 69.39000| 75.03000|       1614.000000|         2501|              HUEHUETENANGO|      2002610|
|          2002683| 76.53000| 73.00000| 57.03000| 18.25000|  4.20000| 27.57000| 54.75000| 61.85000| 61.85000| 62.86000| 62.86000| 57.03000| 52.00000|       1787.000000|         2501|              HUEHUETENANGO|      2002683|
|          2003173| 71.29000| 70.27000| 70.65000| 50.04000|114.32000| 58.87000| 74.57000|105.44000| 40.56000| 37.51000| 34.47000| 69.66000| 89.29000|          0.000000|         2501|              HUEHUETENANGO|      2003173|
|          2003477|207.85000|203.41000|192.96000|175.16000|197.18000|181.55000|183.51000|192.64000|204.36000|223.78000|212.92000|242.38000|205.82000|       2276.000000|         2501|              HUEHUETENANGO|      2003477|
|          2003752|123.63000|115.78000|102.66000|103.84000| 81.81000| 68.68000| 63.78000| 73.00000| 68.21000| 72.78000| 72.37000| 67.70000| 58.87000|       2276.000000|         2501|              HUEHUETENANGO|      2003752|
|          2003866|191.33000|143.25000|154.93000| 62.86000|139.05000|111.85000|101.06000|100.38000| 49.43000| 43.45000| 39.54000| 37.28000| 31.40000|       2262.000000|         2501|              HUEHUETENANGO|      2003866|
|          2005908| 29.44000| 23.55000| 24.71000| 31.47000| 28.32000| 32.32000| 29.40000| 40.56000| 54.18000| 26.07000| 19.26000| 36.12000|111.53000|       2483.000000|         2501|              HUEHUETENANGO|      2005908|
|          2006963|307.11000|290.86000|291.41000|257.53000|243.33000|260.99000|242.35000|275.78000|273.75000|193.36000|268.84000| 65.59000| 22.57000|       1471.000000|         2501|              HUEHUETENANGO|      2006963|
|          2006965| 76.04000| 76.99000| 75.55000| 92.26000| 75.52000| 70.65000| 76.53000| 78.07000| 10.79000| 47.80000| 68.68000|-81.74000|104.56000|       1483.000000|         2501|              HUEHUETENANGO|      2006965|
|          2007000|  3.15000|  6.65000| 10.79000|  8.39000|  2.10000|  7.60000|  6.08000|  8.83000|  8.83000|  4.35000|  7.10000| 64.64000|180.47000|       1471.000000|         2501|              HUEHUETENANGO|      2007000|
|          2007048| 56.78000| 51.33000| 52.98000| 53.49000| 50.34000| 42.77000| 43.60000| 47.10000| 40.23000| 39.11000| 50.69000|  0.95000| 33.46000|       1448.000000|         2501|              HUEHUETENANGO|      2007048|
|          2007145| 62.86000| 54.18000| 50.04000| 68.94000| 67.35000| 73.19000| 70.97000| 34.22000| 59.82000| 47.80000| 61.85000| 48.48000| 69.66000|       1478.000000|         2501|              HUEHUETENANGO|      2007145|
|          2007293|154.18000|149.23000|160.91000|188.79000|187.74000|191.05000|194.27000|194.67000|187.41000|131.44000|174.39000| 17.11000|135.40000|       1504.000000|         2501|              HUEHUETENANGO|      2007293|
|          2007359| 36.50000| 51.33000| 48.08000| 46.64000| 24.12000| 20.60000|  2.94000|  3.04000| 16.68000| 16.29000| 23.55000| -1.96000|  2.85000|       1462.000000|         2501|              HUEHUETENANGO|      2007359|
|          2007572| 20.28000| 33.27000| 17.66000| 26.36000| 66.26000| 87.45000|107.47000| 59.88000| 34.47000| 36.93000| 50.69000| 27.57000| 17.24000|       1500.000000|         2501|              HUEHUETENANGO|      2007572|
+-----------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+------------------+-------------+---------------------------+-------------+
only showing top 20 rows

In [ ]:
result_join_final.printSchema()

In [16]:
import pyspark.pandas as ps

result_dummy = result_join_final.pandas_api()
result_dummy = ps.get_dummies(result_dummy, columns=['NombreDepartamentoGeografia'])
result_dummy.head()

   LlavePuntoConsumo     202108     202109     202110     202111     202112     202201     202202     202203     202204     202205     202206     202207     202208 AlturaPuntoConsumo CodigoOficina CodigoCliente  NombreDepartamentoGeografia_ALTA VERAPAZ  NombreDepartamentoGeografia_BAJA VERAPAZ  NombreDepartamentoGeografia_CHIQUIMULA  NombreDepartamentoGeografia_EL PROGRESO  NombreDepartamentoGeografia_ESCUINTLA  NombreDepartamentoGeografia_GUATEMALA  NombreDepartamentoGeografia_HUEHUETENANGO  NombreDepartamentoGeografia_IZABAL  NombreDepartamentoGeografia_JALAPA  NombreDepartamentoGeografia_JUTIAPA  NombreDepartamentoGeografia_PETEN  NombreDepartamentoGeografia_QUETZALTENANGO  NombreDepartamentoGeografia_QUICHE  NombreDepartamentoGeografia_RETALHULEU  NombreDepartamentoGeografia_SAN MARCOS  NombreDepartamentoGeografia_SANTA ROSA  NombreDepartamentoGeografia_SUCHITEPEQUEZ  NombreDepartamentoGeografia_TOTONICAPAN  NombreDepartamentoGeografia_ZACAPA
0            2000889   31.43000   51.71000   45.13000   35.32000   38.81000   55.13000   48.08000   38.81000   31.40000   33.56000   24.33000   32.32000   23.76000        2800.000000          2501       2000889                                         0                                         0                                       0                                        0                                      0                                      0                                          1                                   0                                   0                                    0                                  0                                           0                                   0                                       0                                       0                                       0                                          0                                        0                                   0
1            2000976  619.49000  618.47000  621.09000  615.20000  582.11000  592.17000  585.77000  582.99000  551.56000  609.38000  566.76000  589.32000  592.11000        1670.000000          2501       2000976                                         0                                         0                                       0                                        0                                      0                                      0                                          1                                   0                                   0                                    0                                  0                                           0                                   0                                       0                                       0                                       0                                          0                                        0                                   0
2            2001594  199.74000  187.57000  247.26000  196.24000  424.78000  431.54000  210.95000  199.74000  220.01000  217.11000  177.43000  172.99000  170.33000        1665.000000          2501       2001594                                         0                                         0                                       0                                        0                                      0                                      0                                          1                                   0                                   0                                    0                                  0                                           0                                   0                                       0                                       0                                       0                                          0                                        0                                   0
3            2002529   71.99000   57.89000   59.85000   65.90000   74.47000   84.60000   81.11000   83.14000   77.94000   74.96000   74.01000   76.99000   85.55000        1538.000000          2501       2002529                                         0                                         0                                       0                                        0                                      0                                      0                                          1                                   0                                   0                                    0                                  0                                           0                                   0                                       0                                       0                                       0                                          0                                        0                                   0
4            2002580   42.58000   42.19000   49.06000   39.54000   40.91000   31.37000   49.68000   29.40000   31.37000   23.90000   27.38000   27.57000   17.24000        1603.000000          2501       2002580                                         0                                         0                                       0                                        0                                      0                                      0                                          1                                   0                                   0                                    0                                  0                                           0                                   0                                       0                                       0                                       0                                          0                                        0                                   0

In [17]:
#result_dummy = result_join.pandas_api()
df_unlabeled = result_dummy.to_spark()#.cache()

/usr/local/spark/python/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

In [18]:
df_unlabeled.pandas_api().head()

   LlavePuntoConsumo     202108     202109     202110     202111     202112     202201     202202     202203     202204     202205     202206     202207     202208 AlturaPuntoConsumo CodigoOficina CodigoCliente  NombreDepartamentoGeografia_ALTA VERAPAZ  NombreDepartamentoGeografia_BAJA VERAPAZ  NombreDepartamentoGeografia_CHIQUIMULA  NombreDepartamentoGeografia_EL PROGRESO  NombreDepartamentoGeografia_ESCUINTLA  NombreDepartamentoGeografia_GUATEMALA  NombreDepartamentoGeografia_HUEHUETENANGO  NombreDepartamentoGeografia_IZABAL  NombreDepartamentoGeografia_JALAPA  NombreDepartamentoGeografia_JUTIAPA  NombreDepartamentoGeografia_PETEN  NombreDepartamentoGeografia_QUETZALTENANGO  NombreDepartamentoGeografia_QUICHE  NombreDepartamentoGeografia_RETALHULEU  NombreDepartamentoGeografia_SAN MARCOS  NombreDepartamentoGeografia_SANTA ROSA  NombreDepartamentoGeografia_SUCHITEPEQUEZ  NombreDepartamentoGeografia_TOTONICAPAN  NombreDepartamentoGeografia_ZACAPA
0            2000889   31.43000   51.71000   45.13000   35.32000   38.81000   55.13000   48.08000   38.81000   31.40000   33.56000   24.33000   32.32000   23.76000        2800.000000          2501       2000889                                         0                                         0                                       0                                        0                                      0                                      0                                          1                                   0                                   0                                    0                                  0                                           0                                   0                                       0                                       0                                       0                                          0                                        0                                   0
1            2000976  619.49000  618.47000  621.09000  615.20000  582.11000  592.17000  585.77000  582.99000  551.56000  609.38000  566.76000  589.32000  592.11000        1670.000000          2501       2000976                                         0                                         0                                       0                                        0                                      0                                      0                                          1                                   0                                   0                                    0                                  0                                           0                                   0                                       0                                       0                                       0                                          0                                        0                                   0
2            2001594  199.74000  187.57000  247.26000  196.24000  424.78000  431.54000  210.95000  199.74000  220.01000  217.11000  177.43000  172.99000  170.33000        1665.000000          2501       2001594                                         0                                         0                                       0                                        0                                      0                                      0                                          1                                   0                                   0                                    0                                  0                                           0                                   0                                       0                                       0                                       0                                          0                                        0                                   0
3            2002529   71.99000   57.89000   59.85000   65.90000   74.47000   84.60000   81.11000   83.14000   77.94000   74.96000   74.01000   76.99000   85.55000        1538.000000          2501       2002529                                         0                                         0                                       0                                        0                                      0                                      0                                          1                                   0                                   0                                    0                                  0                                           0                                   0                                       0                                       0                                       0                                          0                                        0                                   0
4            2002580   42.58000   42.19000   49.06000   39.54000   40.91000   31.37000   49.68000   29.40000   31.37000   23.90000   27.38000   27.57000   17.24000        1603.000000          2501       2002580                                         0                                         0                                       0                                        0                                      0                                      0                                          1                                   0                                   0                                    0                                  0                                           0                                   0                                       0                                       0                                       0                                          0                                        0                                   0

In [19]:
df_unlabeled.columns

['LlavePuntoConsumo',
 '202108',
 '202109',
 '202110',
 '202111',
 '202112',
 '202201',
 '202202',
 '202203',
 '202204',
 '202205',
 '202206',
 '202207',
 '202208',
 'AlturaPuntoConsumo',
 'CodigoOficina',
 'CodigoCliente',
 'NombreDepartamentoGeografia_ALTA VERAPAZ',
 'NombreDepartamentoGeografia_BAJA VERAPAZ',
 'NombreDepartamentoGeografia_CHIQUIMULA',
 'NombreDepartamentoGeografia_EL PROGRESO',
 'NombreDepartamentoGeografia_ESCUINTLA',
 'NombreDepartamentoGeografia_GUATEMALA',
 'NombreDepartamentoGeografia_HUEHUETENANGO',
 'NombreDepartamentoGeografia_IZABAL',
 'NombreDepartamentoGeografia_JALAPA',
 'NombreDepartamentoGeografia_JUTIAPA',
 'NombreDepartamentoGeografia_PETEN',
 'NombreDepartamentoGeografia_QUETZALTENANGO',
 'NombreDepartamentoGeografia_QUICHE',
 'NombreDepartamentoGeografia_RETALHULEU',
 'NombreDepartamentoGeografia_SAN MARCOS',
 'NombreDepartamentoGeografia_SANTA ROSA',
 'NombreDepartamentoGeografia_SUCHITEPEQUEZ',
 'NombreDepartamentoGeografia_TOTONICAPAN',
 'NombreDepartamentoGeografia_ZACAPA']

In [ ]:
df_unlabeled.limit(10).write.mode("overwrite").parquet('test/data_to_predict')

In [ ]:
df_unlabeled.info()

In [ ]:
type(result_dummy)

In [ ]:
import pyspark.pandas as ps

### PANDAS UDF

In [ ]:
df_unlabeled = spark.read.parquet('test/data_to_predict/')
df_unlabeled.toPandas().head()

In [ ]:
import pickle
model = pickle.load(open('model.pkl','rb'))

In [ ]:
column_names = df_unlabeled.schema.names
column_names.pop(0)
column_names

In [ ]:
columns_to_select = df_unlabeled.columns[:14]
columns_to_select

In [ ]:
df_unlabeled.schema.names

In [ ]:
@F.pandas_udf(returnType=DoubleType())
def predict_pandas_udf(*cols):
    # cols will be a tuple of pandas.Series here.
    X = pd.concat(cols, axis=1)
    return pd.Series(model.predict_proba(X)[:, 1])

df_pred_b = df_unlabeled.select(
    F.col('LlavePuntoConsumo').alias('lpc'),
    predict_pandas_udf(*column_names).alias('prediction')
)
df_pred_b.take(5)

In [ ]:
df_pred_b.show()

In [ ]:
df_unlabeled.printSchema()

In [ ]:
columns_final_order = result_join.columns
columns_final_order.append('prediction')
columns_final_order

In [ ]:
result_join_pred = df_unlabeled.select(columns_to_select)\
.join(df_pred_b, df_unlabeled.LlavePuntoConsumo == df_pred_b.lpc, 'inner').drop(col('lpc'))\
.withColumnRenamed('LlavePuntoConsumo','lpc_j')
result_join_pred.toPandas().head()

In [ ]:
result_join_pred = data_df.join(result_join_pred, result_join_pred.lpc_j == data_df.llavePuntoConsumo, 'inner')\
.drop('lpc_j').withColumnRenamed('llavePuntoConsumo','LlavePuntoConsumo')\
.select(columns_final_order)
result_join_pred.toPandas().head()

In [ ]:
result_join_pred = data_df.join(df_pred_b, df_pred_b.lpc == data_df.llavePuntoConsumo, 'inner').drop(col('lpc'))

result_join_pred.show()

In [ ]:
result_join_pred.write.format("jdbc") \
    .mode('overwrite') \
    .option("url", url) \
    .option("dbtable", '[DWSRBI_KRONOS].[prueba].[predicciones]') \
    .option("user", username) \
    .option("password", password) \
    .option("TrustServerCertificate",True) \
    .option("driver", driver_mssql) \
    .save()

In [ ]:
result_join_final.unpersist()

### mover a tabla de samuel

In [ ]:
data_df = spark.read \
    .format("jdbc") \
    .option("url", url) \
    .option("query", query3) \
    .option("user", username) \
    .option("password", password) \
    .option("TrustServerCertificate",True) \
    .option("driver", driver_mssql) \
    .load().dropna().withColumnRenamed('llavePuntoConsumo','lpc')

data_df.show()

In [ ]:
predictions_df = spark.read \
    .format("jdbc") \
    .option("url", url) \
    .option("dbtable", '[DWSRBI_KRONOS].[prueba].[predicciones]') \
    .option("user", username) \
    .option("password", password) \
    .option("TrustServerCertificate",True) \
    .option("driver", driver_mssql) \
    .load().select(col('LlavePuntoConsumo'),col('prediction'))

In [ ]:
result_join = predictions_df\
.join(data_df, predictions_df.LlavePuntoConsumo == data_df.lpc, 'inner')\
.select(col('LlavePuntoConsumo').alias('llavePuntoConsumo'),col('prediction').alias('porcentajePosibleFraude')\
        ,col('CodigoCliente').alias('nis_rad'))

result_join = result_join.withColumn('identificadorProceso',concat(lit('15-SEP-2022')))\
.withColumn('esPosibleFraude',F.when((F.col("porcentajePosibleFraude") > 0.99) , 1).otherwise(0) )
#df.show()


result_join.toPandas().head(100)

In [ ]:
result_join.filter(col('esPosibleFraude')==1).show()

In [ ]:
result_join.write.format("jdbc") \
    .mode('append') \
    .option("url", url) \
    .option("dbtable", '[DWSRBI_KRONOS].[Hecho].[ProbabilidadFraude]') \
    .option("user", username) \
    .option("password", password) \
    .option("TrustServerCertificate",True) \
    .option("driver", driver_mssql) \
    .save()

# subir csv a samuel

In [5]:
df_1 = spark.read.csv('prediccion-regiones-esp.csv',header=True).select('LlavePuntoConsumo',col('fraude').alias('PorcentajePosibleFraude')).cache()
df_1 = df_1.withColumn('esPosibleFraude',F.when((F.col("PorcentajePosibleFraude")>=0.85),lit(1)).otherwise(lit(0))).withColumn('identificadorProceso',concat(lit('26-oct-2022-ZONA-CENTRO'))).withColumn('nis_rad',df_1['LlavePuntoConsumo'])
df_1.pandas_api().head()

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

  LlavePuntoConsumo PorcentajePosibleFraude  esPosibleFraude     identificadorProceso  nis_rad
0           1000149                   0.155                0  26-oct-2022-ZONA-CENTRO  1000149
1           1000190                  0.1425                0  26-oct-2022-ZONA-CENTRO  1000190
2           1000636                     0.1                0  26-oct-2022-ZONA-CENTRO  1000636
3           1001043                  0.0725                0  26-oct-2022-ZONA-CENTRO  1001043
4           1001139                    0.09                0  26-oct-2022-ZONA-CENTRO  1001139

In [12]:
df_1.filter(col('PorcentajePosibleFraude')>=0.9).pandas_api().head()

  LlavePuntoConsumo PorcentajePosibleFraude  esPosibleFraude identificadorProceso  nis_rad
0           5210787                     0.9                1          28-SEP-2022  5210787
1           5841620                     1.0                1          28-SEP-2022  5841620
2           2220252                  0.9275                1          28-SEP-2022  2220252
3           6455388                     1.0                1          28-SEP-2022  6455388
4           5770095                  0.9925                1          28-SEP-2022  5770095

In [6]:
df_1.count()

625610

In [28]:
df_1.select(col('LLavePuntoConsumo')).distinct().count()

1992129

In [38]:
df_1.groupBy("LLavePuntoConsumo").count().where("count > 1").pandas_api().head()

Empty DataFrame
Columns: [LLavePuntoConsumo, count]
Index: []

In [9]:
df_1.write.format("jdbc") \
    .mode('append') \
    .option("url", url) \
    .option("dbtable", '[DWSRBI_KRONOS].[Hecho].[ProbabilidadFraude]') \
    .option("user", username) \
    .option("password", password) \
    .option("TrustServerCertificate",True) \
    .option("driver", driver_mssql) \
    .save()